
@{
    ViewBag.Title = "SUR_SUBMIT";
}

<h1 class="back">"YOUR SURVEY IS SUBMITTED"</h1>


<div>
    @Html.ActionLink("See Your Survey Form", "SurveyId", "DisplayForm")
</div>
<br/>
<div>
    @Html.ActionLink("Back to List", "Welcome", "user")


</div>