body{
background-color:lightgray;
padding-top: 100px;
text-align:center;
}

.text
{
color:darkslateblue;

}

.title {
float: left;
width: 100px;
text-align: left;
padding-right: 10px;}
.back
{
background-color:lightgreen;
color:white;
}
.bq
{
    background-color:forestgreen;
    color:white;
}